<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|json|lock|swp)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

<Files .htaccess>
Order allow,deny
Deny from all
</Files>

RewriteEngine on
RewriteRule ^ofertas/([0-9]+)\-([a-zA-Z0-9-]*)$ index.php?view=ofertas&id=$1
RewriteRule ^temas/([0-9]+)\-([a-zA-Z0-9-]*)$ index.php?view=temas&id=$1